@{
    string username = Session["UserName"] != null ? Session["UserName"].ToString() : "";
    string upic = Session["profimg"] != null ? Session["profimg"].ToString() : "";
}
<!DOCTYPE html>

<html>
<head>

    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Areas/Admin/web/assets/img/favicon.png" rel="icon">
    <link href="~/Areas/Admin/web/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link href="~/Areas/Admin/web/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/web/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Areas/Admin/web/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/web/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/Areas/Admin/web/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/Areas/Admin/web/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Areas/Admin/web/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Areas/Admin/web/assets/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/admin/Admin" class="logo d-flex align-items-center">
                <img src="~/Areas/Admin/web/assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">TechnoTask</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">
                    @if (username != "")
                    {
                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            @if (!string.IsNullOrEmpty(upic))
                            {
                                <img src="@Url.Action( @upic,"~/../../Images" )" alt="Profile" class="rounded-circle" />
                            }
                            else
                            {
                                <img src="/../../Images/userdefault.png" alt="Profile" class="rounded-circle" />
                            }
                            <span class="d-none d-md-block dropdown-toggle ps-2">@username</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">


                            <li class="dropdown-header">
                                <h6>Hi! @username</h6>
                                <span>Web Designer</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="/admin/Admin/Defaulthome">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>


                        </ul>

                    }
                    else
                    {
                        <a href="/admin/Admin/Register"> Create Account </a>
                        <a href="/admin/Admin/Login">Login</a>
                    }
                    <!-- End Profile Iamge Icon -->
                    <!--<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        @if (username == "")
                        {
                            <li><a href="/admin/Admin/Register"> Create Account </a></li>
                            <li><a href="/admin/Admin/Login">Login</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        }
                        else
                        {
                            <li class="dropdown-header">
                                <h6>Hi! @username</h6>
                                <span>Web Designer</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="/admin/Admin/Logout">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>
                        }

                    </ul>-->
                    <!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <div>
        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link " href="/admin/Admin">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <!-- End Dashboard Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#register-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-card-list"></i>
                        <span>Modify</span>
                        <i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="register-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        @*<li>
                                <a href="/admin/Admin/Register">
                                    <i class="bi bi-circle"></i><span>Admin</span>
                                </a>
                            </li>*@
                        <li>
                            <a href="/Faculty/faculty/Index">
                                <i class="bi bi-circle"></i><span>Faculty</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Student/student/Index">
                                <i class="bi bi-circle"></i><span>Student</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Batches/batch/Index">
                                <i class="bi bi-circle"></i><span>Batch</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Techology/technologies/Index">
                                <i class="bi bi-circle"></i><span>Technology</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- End Register Page Nav -->
            </ul>

        </aside><!-- End Sidebar-->
        @RenderBody()
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>TechnoTask</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Areas/Admin/web/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/Areas/Admin/web/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Areas/Admin/web/assets/vendor/chart.js/chart.min.js"></script>
    <script src="~/Areas/Admin/web/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/Areas/Admin/web/assets/vendor/quill/quill.min.js"></script>
    <script src="~/Areas/Admin/web/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/Areas/Admin/web/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/Areas/Admin/web/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Areas/Admin/web/assets/js/main.js"></script>
    <script src="~/Areas/admin/web/assets/js/custom.js"></script>
</body>
</html>
